<html>
<head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <link rel="icon" href="/static/images/icon.jpg">
    <link rel="stylesheet" href="/static/css/home.css" type="text/css" charset="utf-8">
</head>

<body>
<div class="title">
    <div class="title_left">
        <a href="#"><img id="icon" src="/static/images/icon.jpg"></a>
    </div>
    <div class="title_right">
        <span id="name">{{ name }}</span>
        <span id="desc">{{ desc }}</span>
    </div>
    {% if username %}
        <div class="title_end">
            <a href="/edit" style="text-decoration: none"><span id="login">Edit Article</span> </a>
            <a href="/login?out=true" style="text-decoration:none"><span id="login">Login Out</span></a>
        </div>
    {% else %}
        <div class="title_end">
            <a href="/register" style="text-decoration: none"><span id="login">Register</span> </a>
            <a href="/login" style="text-decoration:none"><span id="login">Login</span></a>
        </div>
    {% endif %}
</div>

{% if article %}
    {% for art in article %}
        <div class="div_article">
            <span class="article">{{ art.title }}</span>
            <span class="content">{{ art.content }}</span>
        </div>
    {% endfor %}
{% endif %}

<script type="text/javascript">
    window.onload = function () {
        conts = document.getElementsByClassName('content')
        for(var i= 0; i < conts.length; i++){
            sp = conts.item(i)
            if (sp.innerHTML.toString().length > 100){
                sp.innerHTML = sp.innerHTML.toString().substring(0,100)+'...'
            }
        }
    }

</script>

</body>

</html>